.formato{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:220px 120px;
    width:200px;
    background-color: rgba(146, 75, 9, 0.384);
    padding-top:40px;
    border-radius: 10%;
    
}
.botao{
    position:fixed;
    left: 5%;
    top:85%;
    width: 88%;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5%;
    border:none;
    cursor:pointer;
}
.campo1,.campo2,.campo3{
    position:fixed;
    left:6%;
    padding:10px 20px;
    width:80%;
    user-select: none;
    border-color:rgb(0, 0, 0);
    outline: none;
}
.p1,.p2,.p3{
    position: -4vh;
    margin-left:-4vw;
    user-select: none;
    color: rgb(71, 29, 0);

}
.img{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

    body{
        position:fixed;
        background-color: rgb(119, 69, 28);
        align-items: center;
        justify-content: center;
        display: flex;
        right: 50%;
        top:50%;
        transform: translate(50%,-50%);
    }
  @media (max-width:767px){

    .formato{
        padding:200px 20px;
        padding-top: 0px;
        width:300px;
        transform: translate(-45%,-50%);
    }
    .img{
        width:75vh;
        height:75vh;
    }
    .p1,.p2,.p3{
        margin-left:1vh;
    }
    .campo1,.campo2,.campo3{
        padding: 10px 10px;
    }
  }